PROTEIN_DATABASE_URL={{ protein_calculator_database_url }}
PROTEIN_DEBUG={{ protein_calculator_debug }}
{% for key, value in protein_calculator_extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
